body {
  font-family:  Georgia, serif;
  background-color: lightslategray, 
}

h1{
  color: white;
}
h2{
  color: white;
}
h3{
  color: white;
}
h4{
  color: white;
}
h5{
  color: white;
}
h6 {
  font-family: Georgia, serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}
